---
import Layout from '../layouts/Layout.astro'
import PageHeaderText from '../components/PageHeaderText.astro'
import { getCollection } from 'astro:content'
import SectionHeaderText from '../components/SectionHeaderText.astro'
import MediaItem from '../components/MediaItem.astro'

const podcasts = (await getCollection('podcasts'))
  .sort((a, b) => (Date.parse(b.data.date) < Date.parse(a.data.date) ? -1 : 1))
  .slice(0, 10)
const slides = (await getCollection('slides'))
  .sort((a, b) => (Date.parse(b.data.date) < Date.parse(a.data.date) ? -1 : 1))
  .slice(0, 10)
const other = (await getCollection('other'))
  .sort((a, b) => (Date.parse(b.data.date) < Date.parse(a.data.date) ? -1 : 1))
  .slice(0, 10)
---

<Layout title="MEDIA" description="Media information of @sota1235">
  <PageHeaderText>MEDIA</PageHeaderText>
  <SectionHeaderText>PODCASTS</SectionHeaderText>
  <div class="flex flex-row justify-start gap-10 overflow-y-scroll">
    {
      podcasts.map((item) => (
        <MediaItem
          title={item.data.title}
          description={`${item.data.mediaTitle} / ${item.data.title}`}
          imageUrl={item.data.ogpImageUrl}
          link={item.data.link}
        />
      ))
    }
  </div>
  <div class="mt-2 text-right">
    <a
      href="/media/podcasts"
      class="text-lg font-bold text-black hover:text-black_hover md:text-xl"
    >
      View All &rarr;
    </a>
  </div>
  <SectionHeaderText>SLIDES</SectionHeaderText>
  <div class="flex flex-row justify-start gap-10 overflow-y-scroll">
    {
      slides.map((item) => (
        <MediaItem
          title={item.data.title}
          description={`${item.data.mediaTitle} / ${item.data.title}`}
          imageUrl={item.data.ogpImageUrl}
          link={item.data.link}
          className="h-[120px] min-w-[155px] md:h-[160px] md:min-w-[213px]"
        />
      ))
    }
  </div>
  <div class="mt-2 text-right">
    <a
      href="/media/slides"
      class="text-lg font-bold text-black hover:text-black_hover md:text-xl"
    >
      View All &rarr;
    </a>
  </div>
  <SectionHeaderText>OTHER</SectionHeaderText>
  <div class="flex flex-row justify-start gap-10 overflow-y-scroll">
    {
      other.map((item) => (
        <MediaItem
          title={item.data.title}
          description={`${item.data.mediaTitle} / ${item.data.title}`}
          imageUrl={item.data.ogpImageUrl}
          link={item.data.link}
          className="h-[120px] min-w-[155px] md:h-[160px] md:min-w-[213px]"
        />
      ))
    }
  </div>
  <div class="mt-2 mb-[200px] text-right">
    <a
      href="/media/other"
      class="text-lg font-bold text-black hover:text-black_hover md:text-xl"
    >
      View All &rarr;
    </a>
  </div>
</Layout>
