---
import Layout from './Layout.astro'
import HeaderText from '../components/HeaderText.astro'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>

const { data, ...rest } = Astro.props
---

<Layout
  title={data.title}
  description={data.title}
  image={`/blog/${rest.slug}/ogp.png`}
>
  <div class="mx-auto max-w-3xl">
    <div class="my-[30px] md:my-[60px]">
      <FormattedDate
        date={data.pubDate}
        className="text-2xl font-bold text-black"
      />
      <a href={`/blog/${rest.slug}`}>
        <HeaderText
          className="mt-5 text-3xl hover:text-black_hover md:mt-7 md:text-4xl"
          >{data.title}</HeaderText
        >
      </a>
    </div>
    <article
      class="prose prose-sm mb-[200px] max-w-none list-inside md:prose-base prose-h1:my-8 prose-inline-code:mx-1 prose-inline-code:rounded-sm prose-inline-code:bg-gray-200 prose-inline-code:p-0.5 prose-inline-code:text-red-500 prose-inline-code:before:content-none prose-inline-code:after:content-none prose-code-link:decoration-red-500"
    >
      <slot />
    </article>
  </div>
</Layout>
<style is:global>
  .rlb-container {
    @apply flex flex-col rounded-lg border-[1px] border-gray-200 p-4;
  }

  .rlb-content {
    @apply flex flex-row;
  }

  .rlb-info {
    @apply flex-1;
  }

  .rlb-title {
    @apply mb-2 text-base font-bold text-gray-900 hover:text-black_hover hover:underline md:text-lg;
  }

  .rlb-title-link {
  }

  .rlb-description {
    @apply my-2 line-clamp-3 text-xs text-gray-700 md:text-sm;
  }

  .rlb-image {
    @apply mx-2 h-24 w-24 rounded border-[1px] border-gray-300 object-cover md:h-24 md:w-48;
  }

  .rlb-footer {
    @apply flex flex-row;
  }

  .rlb-footer-link {
  }

  .rlb-footer-link-text {
    @apply text-xs text-gray-400 hover:underline md:text-sm;
  }

  .rlb-favicon {
    @apply inline;
  }
</style>
